.camera{
    position: absolute;
    height: 3030px;
    width: 100%;
    margin-top: 6855px;
    background-color: #0d0927;

    &-p1{
        margin: auto;
        display: flex;
        margin-top: 150px;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        font-family: 'montserrat';

    }

    &-camera1{
        margin-left: 200px;
        margin-top: 200px;
    }

    &-p2{
        color: white;
        font-family: 'montserrat';
        font-size: 22px;
        margin-left: 700px;
        margin-top: -150px;
    }

    &-p3{
        color: gray;
        font-family: 'montserrat';
        white-space-collapse: break-spaces;
        margin-left: 700px;
        margin-top: 20px;
    }


    &-div1{
        
    }

    &-camera2{
        margin-top: 300px;
        margin-left: 950px;

    }

    &-p4{
      color: white;
        font-family: 'montserrat';
        font-size: 22px;
        margin-left: 200px;
        margin-top: -150px;   
    }

    &-p5{
               color: gray;
        font-family: 'montserrat';
        white-space-collapse: break-spaces;
        margin-left: 200px;
        margin-top: 20px; 
    }
}


@media (max-width: 1200px){
    .camera{
        display: none;
    }
}