.elon{
    
width: 100%;
    height: 100px;
margin-top: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;

    &-p1{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: 'montserrat';
        margin-top: 1800px;
    }

    &-musk{
        position: absolute;
        margin-top: 1000px;
        margin-left: -700px;
    }

    &-vid{
        position: absolute;
        margin-top: 1000px;
        margin-left: -200px;
    }

    &-face1{
        position: absolute;
        margin-top: 2800px;
        margin-left: -1050px;
    }

    &-p2{
        position: absolute;
        margin-top:2770px ;
        margin-left: -870px;
        font-family: 'montserrat';
    }

    &-p3{
        position: absolute;
        margin-top: 2770px;
        font-family: 'montserrat';
        margin-left: -340px;

    }

    &-div1{
        position: absolute;
        background-color: whitesmoke;
        width: 500px;
        height: 300px;
        margin-top: 3250px;
        margin-left: -650px;
        border-radius: 15px;
    }

    &-p4{
        font-family: 'montserrat';
margin-top: 40px;
font-size: 20px;
white-space-collapse: break-spaces;
margin-left: 10px;
    }

    &-ul1{
        margin-top: 40px;
        font-family: 'montserrat';
font-size: 18px;
margin-left: 50px;
    }

    &-ul2{
        margin-top: 40px;
        font-size: 18px;
        font-family: 'montserrat';
margin-left: 50px;
    }

    &-ul3{
        margin-top: 40px;
        font-size: 18px;
        font-family: 'montserrat';
margin-left: 50px;
    }

    &-face2{
        position: absolute;
        margin-top: 2800px;
        margin-left: -70px;
    }

    &-p5{
        position: absolute;
           font-family: 'montserrat';
           
margin-top: 2770px;
white-space-collapse: break-spaces;
margin-left: 100px;
    }

    &-p6{
        position: absolute;
        margin-top: 2770px;
           font-family: 'montserrat';
           margin-left: 1080px;


    }

    &-div2{
          position: absolute;
        background-color: whitesmoke;
        width: 500px;
        height: 300px;
        margin-top: 3250px;
        border-radius: 15px;
        margin-left: 600px;

    }

    &-p7{
        font-size: 20px;
           font-family: 'montserrat';
           margin-top: 40px;
           margin-left: 10px;

        
    }

    &-ul4{
         margin-top: 15px;
        font-family: 'montserrat';
font-size: 18px;
margin-left: 50px;
    }

}

@media (max-width: 1200px){

.elon{
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 40px 0;
}

.elon-p1,
.elon-musk,
.elon-vid,
.elon-face1,
.elon-p2,
.elon-p3,
.elon-div1,
.elon-face2,
.elon-p5,
.elon-p6,
.elon-div2{
    position: static;
    margin: 15px 0;
}

.elon-p1{
    font-size: 22px;
    text-align: center;
}

.elon-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.elon-musk,
.elon-vid{
    width: 90%;
    max-width: 350px;
}

.elon-div1,
.elon-div2{
    width: 90%;
    height: auto;
    padding: 20px;
}

.elon-p4,
.elon-p7{
    font-size: 18px;
}

.elon-ul1,
.elon-ul2,
.elon-ul3,
.elon-ul4{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
}

}
