.intro{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    

    &-p1{
        font-size: 35px;
        color:#09c6de;
        white-space-collapse: break-spaces;
        font-family: 'montserrat';
        margin-top: 60px;
    }

    &-p2{
        position: absolute;
        color: gray;
        font-family: 'montserrat';
        margin-top: 200px;
    }

    &-btn{
        position: absolute;
        width: 200px;
        height: 50px;
        background-color: #00c5de;
        border: none;
        font-family: 'montserrat';
border-radius: 20px;
color:white;
margin-top: 330px;
transition: all 0.3s linear;
    }

    &-btn:hover{
        color: #00c5de;
        background-color: white;
        border-color: #00c5de;
    }

    &-phone{
        position: absolute;
        margin-top: 800px;
        margin-left: -800px;
    }

    &-camera{
        max-width: 100%;
        position: absolute;
        width: 300px;
        margin-top: 1100px;
        margin-left: -400px;

    }

    &-camera2{
        position: absolute;
        width: 300px;
        margin-top: 1100px;
        margin-left: 50px;
    }

    &-camera3{
        position: absolute;
        margin-top: 1100px;
        margin-left: 440px;
    }

    &-camera4{
        position: absolute;
        margin-top: 880px;
        margin-left: 900px;
    }
}

@media (max-width: 768px){

.intro-phone{
    width: 100%;

}

.intro-p1{
    font-size: 20px;
    margin-left: 20px;
}
.intro-p2{
    margin-left: 20px;
    margin-top: 250px;
}

.intro-btn{
margin-top: 400px;
}

.intro-phone{
    position: absolute;
    width: 100%;
    width: 500px;
    margin-left: 20px;
}

.intro-camera{
    position: absolute;
    width: 100%;
margin-left: 20px;
margin-top: 1300px;
}

.intro-camera2{
    position: absolute;
    width: 100%;
    margin-top: 1600px;
    margin-left: -10px;
}

.intro-camera3{
    position: absolute;
    margin-top: 1950px;
    margin-left: -5px;
    
}

.intro-camera4{
    position: absolute;
    width: 100px;
    margin-top: 2350px;
    margin-left: -10px;
}



}