.intro{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    

    &-p1{
        font-size: 35px;
        color:#09c6de;
        white-space-collapse: break-spaces;
        font-family: 'montserrat';
        margin-top: 60px;
    }

    &-p2{
        position: absolute;
        color: gray;
        font-family: 'montserrat';
        margin-top: 200px;
    }

    &-btn{
        position: absolute;
        width: 200px;
        height: 50px;
        background-color: #00c5de;
        border-color: #00c5de;
        font-family: 'montserrat';
border-radius: 20px;
color:white;
margin-top: 330px;
transition: all 0.3s linear;
    }

    &-btn:hover{
        color: #00c5de;
        background-color: white;
        border-color: #00c5de;
    }

    &-phone{
        position: absolute;
        margin-top: 800px;
        margin-left: -800px;
    }

    &-camera{
        max-width: 100%;
        position: absolute;
        width: 300px;
        margin-top: 1100px;
        margin-left: -400px;

    }

    &-camera2{
        position: absolute;
        width: 300px;
        margin-top: 1100px;
        margin-left: 50px;
    }

    &-camera3{
        position: absolute;
        margin-top: 1100px;
        margin-left: 440px;
    }

    &-camera4{
        position: absolute;
        margin-top: 880px;
        margin-left: 900px;
    }
}

@media (max-width: 768px){

.intro{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.intro-p1{
    font-size: 22px;
    margin: 40px 20px 10px;
    text-align: center;
}

.intro-p2{
    position: static;
    margin: 10px 20px;
    text-align: center;
}

.intro-btn{
    position: static;
    margin: 20px 0 30px 0;
}

.intro-phone,
.intro-camera,
.intro-camera2,
.intro-camera3,
.intro-camera4{
    position: static;      
    width: 80%;
    max-width: 320px;
    margin: 15px 0;        
}

}


