* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; 
}

.navbar {
    margin: 0 auto;
    padding: 0 15px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    height: 70px;
}

.navbar-logo {
    width: 150px;
    max-width: 100%;
}

.navbar-ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-a {
    color: gray;
    text-decoration: none;
    font-family: 'montserrat';
    font-size: 18px;
    transition: 0.3s;
}

.navbar-a:hover {
    color: black;
}

.navbar-btn {
    width: 180px;
    height: 40px;
    color: #1bc9df;
    border: 1px solid #1bc9df;
    background-color: white;
    border-radius: 20px;
    font-family: 'montserrat';
    transition: 0.4s;
}

.navbar-btn:hover {
    background-color: #1bc9df;
    color: white;
}

.navbar-secondbtn {
    width: 50px;
    height: 35px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    transition: 0.4s;
}

.navbar-secondbtn:hover {
    background-color: black;
    color: white;
}

.navbar-burger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.navbar-burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}


@media (max-width: 992px) {

    .navbar-ul {
        display: none;
    }

    .navbar-btn {
        display: none;
    }

    .navbar-secondbtn {
        display: none;
    }

    .navbar-burger {
        display: flex;
    }

    .navbar {
        padding: 0 20px;
    }
}
