.poss{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-p1{
        margin-top: 700px;
        font-size: 35px;
        font-family: 'montserrat';
    }

    &-div1{
        position: absolute;
        width: 361px;
        height: 400px;
        background-color: whitesmoke;
        margin-top: 1200px;
        margin-left: -700px;
        border-radius: 20px;

    }

    &-img1{
        margin-left: -13px;
    }

    &-div2{
        position: absolute;
        width: 361px;
        height: 400px;
        background-color: whitesmoke;
        margin-top: 1200px;
        margin-left: 100px;
        border-radius: 20px;
    }

    &-img2{
        margin-left: -13px;
    }

     &-div3{
        position: absolute;
        width: 361px;
        height: 400px;
        background-color: whitesmoke;
        margin-top: 1200px;
        margin-left: 900px;
        border-radius: 20px;

    }

    &-img3{
        margin-left: -13px;
    }

    &-p2{
        color: #3bd1e5;
        font-family: 'montserrat';
        margin-left: 20px;
        font-size: 17px;
    }

    &-p3{
        color: gray;
        font-family: 'montserrat';
        margin-top: 10px;
        margin-left: 5px;

    }

    &-p4{
        color: #3bd1e5;
        font-family: 'montserrat';
    }
    

}

@media (max-width: 1200px){

.poss{
    flex-direction: column;
    align-items: center;
}

.poss-p1{
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
}

.poss-div1,
.poss-div2,
.poss-div3{
    position: static;
    width: 90%;
    height: auto;
    margin: 20px 0;
}

.poss-img1,
.poss-img2,
.poss-img3{
    width: 100%;
    height: auto;
    margin-left: 0;
}

}
